<?xml version="1.0"?>

<robot name="block_object">

  <gazebo reference="block"> 
    <mu1>1</mu1>
    <mu2>1</mu2>
    <kp>10000000</kp>
    <kd>1</kd>
    <minDepth>0.001</minDepth>
  </gazebo>

  <link name="block">
    <collision>
      <geometry>
        <box size="0.03 0.03 0.1"/>
      </geometry>
      <!-- <contact_coefficients mu="200" kp="1e+6" kd="1" /> -->
      <contact_coefficients
        mu="100"
        kp="10"
        kd="1"/>
    </collision>
    <visual>
      <geometry>
        <box size="0.03 0.03 0.1"/>
      </geometry>
    </visual>
    <inertial>
      <mass value="0.1"/>
      <inertia
        ixx="5e-05" ixy="0.0" ixz="0.0"
        iyy="5e-05" iyz="0.0"
        izz="3e-06"/>
    </inertial>
  </link>

</robot>
